body {
	background-color: #162538;
	letter-spacing: 0.2em;
	font-size: 0.8em;
	min-width: 400px;
}

.container {
	max-width: 400px;
}

.icon {
	position: relative;
	top: -50px;
	border-radius: 50%;
	width: 100px;
	margin-bottom: -50px;
	border: 1px solid darkgray;
}

.card {
	border: 2px solid black;
}
